:root {
    --primary-color: #ffead2;
    --red-color: #e73656;
    --blue-color: #00adb2;
    --yellow-color: #ff9d00;
    --text-color: #293340;
  }

  /* fonts */

  @font-face {
    font-family: 'Teshrin-bold';
    src: url('../fonts/TeshrinAR+LT-Bold.otf') format('opentype'); 
    font-weight: bold; 
  }
  @font-face {
    font-family: 'digi-lalezar';
    src: url('../fonts/Digi\ Lalezar\ Plus.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  
  /* basics */
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html{
    direction: rtl; 
  
  }

  input[type="text"], input[type="email"], input[type="password"], textarea, select {
    font-family:'Teshrin-regular';
  }
  input[type="text"]:focus {
    outline: none;
  }

/* Change the color of the selected text and its background */
::selection {
  color: white;         /* Text color */
  background: var(--red-color);     /* Background color */
}

/* For Firefox compatibility */
::-moz-selection {
  color: white;         /* Text color */
  background: var(--red-color);     /* Background color */
}

  body {
    /* prevent selecting text */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */

    direction: rtl;
    text-align: right;
      background-image: url(../images/background.jpg);
      color: var(--text-color);
      font-family: 'Teshrin-bold';
      line-height: 1.6;
      text-align: right;
      overflow-x: hidden;
  }
  h1,h2,h3,h4,h5{
    font-family: 'digi-lalezar';
  }
  p{
    font-family: 'Teshrin-bold';
  }
  a{
    color: inherit; /* Inherit color from parent */
    font-size: inherit; /* Inherit font size from parent */
    text-decoration: none; 
  }
  main {
    background-color: transparent;
    position: relative;
    margin: 3vw;
  }
  