:root {
    --primary-color: #ffead2;
    --red-color: #e73656;
    --blue-color: #00adb2;
    --yellow-color: #ff9d00;
    --text-color: #293340;
}

nav{
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    padding: 12px 45px;
    max-height: 300px;
    box-shadow: #505357 4px 4px 15px;
    
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.nav-left{
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.nav-right{
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar-logo{
    max-width: 320px;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(2px 2px 2px #919191);
}

.navbar-links{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 15px;
    justify-content: space-between;

}
.user-box{
    position: relative;
    width: 140px;
    height: fit-content;
    padding: 1px 1px 1px 12px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
.user-box img{
    
    border-radius: 50%;
    width: 40px;
    height: auto;
}

.dropdown-menu {
    
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: transparent;
    width: auto;    
    z-index: 1001;
  }
  
  .dropdown-menu a {
    display: block;
    margin: 10px; /* Adjust margin as needed */
    width: fit-content;
    text-decoration: none;
    white-space: nowrap;
}


/* CSS for sidebar and toggle button */
.sidebar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 250px;
    height: 100vh;
    padding: 10px;
    transition: right 0.5s ease; 
    display: inline;
    box-shadow: 0px 0px 65px rgb(0, 0, 0);
    transition: 0.5s;
    background-color: var(--primary-color);
    z-index: 100;
    overflow: hidden;
}

.sidebar > *{
   
    margin: 8px;

}
.sidebar-open {
    right: 0; /* Show the sidebar */
}

.sidebar-toggle {
    display: none; /* Hide toggle button by default on larger screens */
}

.slidebar-button{
    color: #e73656;
}
.slidebar-links{
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    scrollbar-color: var(--red-color) var(--primary-color);
    padding: 7px;
    border: 2px solid var(--red-color);
    border-radius: 30px;
}
.other-links{
    padding-right: 7px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.slidebar-links::-webkit-scrollbar-track{
    background: transparent;
}
.slidebar-links::-webkit-scrollbar-thumb{
    background-color: var(--red-color);
    border-radius: 5px;
}
.slidebar-links::-webkit-scrollbar{
    width: 4px;
}
.sidebar-header{
    width: auto;
    height: 93px;
    margin: -10px;
    filter: drop-shadow(3px 3px 2px #919191);

    
}
.sidebar-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
    background-color: var(--primary-color);
    margin-left: -8px;
    margin-bottom: -12px;
    
}
.sidebar-footer img{
    filter: drop-shadow(3px 3px 2px #919191);

    width: 260px;
    height: auto;
    
    
}
@media screen and (max-width: 630px) {
    nav{
        padding: 12px 5px;
    }
    .navbar-logo{
        border: solid 3px var(--red-color);

        max-width: 270px;
        background-color: var(--primary-color);
        border-radius: 15px;
    }
    .navbar-links{
        display: none;
    }
    .sidebar-toggle {
        position: relative;
        padding: 12px 8px;
        background-color: var(--primary-color);
        border-radius: 4px;
        
        display: block; /* Show toggle button on smaller screens */
        
        
        cursor: pointer;
        color: #e73656;
        z-index: 5;
        
    }
    .slidebar-cross{
        position: absolute;
        left: 0;
        top: 65px;
    }

    
}
/* navbar end */
/* hero */
.hero{
    position: relative;
    height: 85vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    gap: 10px;
}
.deal-banner{
    background-color: #00adb2;
}
.middle-banner{
    background-color: #e73656;
}